/**
 * Grid layout for templating
 */

@use '../snippets/clearfix';

$columns: 12; // Number of columns in the grid system

.container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 1200px;
}

@for $width from 1 through $columns {
	.col-#{$width} {
		flex-basis: $width / $columns * 100%;
	}
}

[class*='col-'] {
	background-color: #FFDCDC;
	float: left;
	min-height: 1px;
	padding: 12px; // Maybe 16 might be better
}

[class*='col-'] > p {
	background-color: #FFC2C2;
	padding: 0;
	margin: 0;
	text-align: center;
	color: white;
}

// Demo
.outline, .outline * {
	outline: 1px solid #F6A1A1;
}
