//============================================================================//
// FOOTER
//============================================================================//

footer {

	// General footer styles
	background-color: #343434;
	color: #afafaf;

	margin-top: 5em;

	hr {
		width: 90%;
		margin: auto;
		color: #afafaf;
	}

	// Links
	ul {
		list-style: none;
		padding-left: 0;
	}

	.links {
		width: 70%; // todo: need calc
		max-width: 800px; // todo: need calc
	}

	// Social media icons
	.social {
		ul li {
			display: inline-block;
		}
	}

}
