//============================================================================//
// FOOTER
//============================================================================//

footer {

    background-color: #343434;
    color: #afafaf;
    width: 100%;
    margin-top: 3em;
    padding: 2em 0;

    .footer__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: $gutter;
    }


    ul {
        list-style: none;
        padding-left: 0;
    }

    .link__col{

        .col__header {
            font-weight: $font-weight-bold;
            text-transform: uppercase;
        }

        .col__link {
            font-size: small;
            text-transform: capitalize;
        }

        // Social media icons
        ul.col__social {
            li {
                display: inline-block;
                margin-right: $gutter;
            }
        }
    }

    .social__icon {
        width: 20px;
        height: auto;
    }

    .copyright {
        margin-top: 3em;
    }

}
