//============================================================================//
// GLOBAL HEADER
//============================================================================//

header {
    height: 100px;
    width: 100%;

    img {
        max-width: auto;
        height: 90px;
    }
}


//============================================================================//
// NAV BAR
//============================================================================//

nav {

    ul {
        list-style: none;
        padding-left: 0;

        li {
            display: inline-block;
        }

        li:not(:last-child) {
            margin-right: 2em;
        }
    }
}


//============================================================================//
// SPLASH
//============================================================================//

.splash {
    background: url('../img/index/splash.jpg') center no-repeat;
    height: 500px;
    width: 100%;
}
