@media screen and (min-width:64em) {
	.grid-1,
	.grid-1-1,
	.grid-1-12,
	.grid-1-2,
	.grid-1-24,
	.grid-1-3,
	.grid-1-4,
	.grid-1-5,
	.grid-1-6,
	.grid-1-8,
	.grid-10-24,
	.grid-11-12,
	.grid-11-24,
	.grid-12-24,
	.grid-13-24,
	.grid-14-24,
	.grid-15-24,
	.grid-16-24,
	.grid-17-24,
	.grid-18-24,
	.grid-19-24,
	.grid-2-24,
	.grid-2-3,
	.grid-2-5,
	.grid-20-24,
	.grid-21-24,
	.grid-22-24,
	.grid-23-24,
	.grid-24-24,
	.grid-3-24,
	.grid-3-4,
	.grid-3-5,
	.grid-3-8,
	.grid-4-24,
	.grid-4-5,
	.grid-5-12,
	.grid-5-24,
	.grid-5-5,
	.grid-5-6,
	.grid-5-8,
	.grid-6-24,
	.grid-7-12,
	.grid-7-24,
	.grid-7-8,
	.grid-8-24,
	.grid-9-24 {
		display: inline-block;
		letter-spacing: normal;
		word-spacing: normal;
		vertical-align: top;
		text-rendering: auto
	}
	.grid-1-24 {
		width: 4.1667%
	}
	.grid-1-12,
	.grid-2-24 {
		width: 8.3333%
	}
	.grid-1-8,
	.grid-3-24 {
		width: 12.5%
	}
	.grid-1-6,
	.grid-4-24 {
		width: 16.6667%
	}
	.grid-1-5 {
		width: 20%
	}
	.grid-5-24 {
		width: 20.8333%
	}
	.grid-1-4,
	.grid-6-24 {
		width: 25%
	}
	.grid-7-24 {
		width: 29.1667%
	}
	.grid-1-3,
	.grid-8-24 {
		width: 33.3333%
	}
	.grid-3-8,
	.grid-9-24 {
		width: 37.5%
	}
	.grid-2-5 {
		width: 40%
	}
	.grid-10-24,
	.grid-5-12 {
		width: 41.6667%
	}
	.grid-11-24 {
		width: 45.8333%
	}
	.grid-1-2,
	.grid-12-24 {
		width: 50%
	}
	.grid-13-24 {
		width: 54.1667%
	}
	.grid-14-24,
	.grid-7-12 {
		width: 58.3333%
	}
	.grid-3-5 {
		width: 60%
	}
	.grid-15-24,
	.grid-5-8 {
		width: 62.5%
	}
	.grid-16-24,
	.grid-2-3 {
		width: 66.6667%
	}
	.grid-17-24 {
		width: 70.8333%
	}
	.grid-18-24,
	.grid-3-4 {
		width: 75%
	}
	.grid-19-24 {
		width: 79.1667%
	}
	.grid-4-5 {
		width: 80%
	}
	.grid-20-24,
	.grid-5-6 {
		width: 83.3333%
	}
	.grid-21-24,
	.grid-7-8 {
		width: 87.5%
	}
	.grid-11-12,
	.grid-22-24 {
		width: 91.6667%
	}
	.grid-23-24 {
		width: 95.8333%
	}
	.grid-1,
	.grid-1-1,
	.grid-24-24,
	.grid-5-5 {
		width: 100%
	}
}
