body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #222222;
  text-align: left;
  background-color: #fff;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.show {
  visibility: visible !important;
}

.hide {
  visibility: hidden !important;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.page {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  width: 1200px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/******************************************************************************\
	COLOURS

	Global colours
\******************************************************************************/
.header {
  background-image: url("../img/index/splash.jpg") center center;
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

/******************************************************************************\
	GRID

	Grid layout for templating
\******************************************************************************/
.col-1 {
  flex-basis: 8.3333333333%;
}

.col-2 {
  flex-basis: 16.6666666667%;
}

.col-3 {
  flex-basis: 25%;
}

.col-4 {
  flex-basis: 33.3333333333%;
}

.col-5 {
  flex-basis: 41.6666666667%;
}

.col-6 {
  flex-basis: 50%;
}

.col-7 {
  flex-basis: 58.3333333333%;
}

.col-8 {
  flex-basis: 66.6666666667%;
}

.col-9 {
  flex-basis: 75%;
}

.col-10 {
  flex-basis: 83.3333333333%;
}

.col-11 {
  flex-basis: 91.6666666667%;
}

.col-12 {
  flex-basis: 100%;
}

[class*=col-] {
  background-color: #FFDCDC;
  float: left;
  min-height: 1px;
  padding: 12px;
}

[class*=col-] > p {
  background-color: #FFC2C2;
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
}

.outline, .outline * {
  outline: 1px solid #F6A1A1;
}

/******************************************************************************\
	FOOTER

	Footer links
\******************************************************************************/
/******************************************************************************\
	FOOTER

	Social media icons
\******************************************************************************/
footer {
  background-color: #343434;
  color: #afafaf;
}
footer hr {
  width: 90%;
  margin: auto;
  color: #afafaf;
}

/*# sourceMappingURL=style.css.map */
