* {
  box-sizing: border-box;
}

body, header, main, footer {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #222222;
  text-align: left;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

main, .wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  max-width: 90%;
  width: 1200px;
  margin: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.img--fit {
  max-width: 100%;
  height: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  border-radius: 10px;
  width: 200px;
  height: 40px;
  margin-top: 1.5em;
  background-color: #ffa07a;
  border: 0;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

header a:link, nav a:link {
  color: #000000;
}
header a:visited, nav a:visited {
  color: #000000;
}
header a:hover, nav a:hover {
  font-weight: 700;
  color: #000000;
}
header a:active, nav a:active {
  font-weight: 700;
  color: #000000;
}

footer a:link {
  color: #afafaf;
}
footer a:visited {
  color: #afafaf;
}
footer a:hover {
  font-weight: 700;
  color: #ffffff;
}
footer a:active {
  font-weight: 700;
  color: #ffffff;
}

ul.style--none {
  list-style: none;
  padding-left: 0;
}
ul.style--horizontal li {
  display: inline-block;
}

.align--center {
  margin-left: auto;
  margin-right: auto;
}

.text--left {
  text-align: left !important;
}

.text--right {
  text-align: right !important;
}

.text--center {
  text-align: center !important;
}

.text--lowercase {
  text-transform: lowercase !important;
}

.text--uppercase {
  text-transform: uppercase !important;
}

.text--capitalize {
  text-transform: capitalize !important;
}

.show {
  visibility: visible !important;
}

.hide {
  display: none !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

header {
  background-color: #ffffff;
  width: 100%;
  line-height: 1;
  font-size: smaller;
}
header .header__wrapper {
  max-width: 90%;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  margin: auto;
  padding: 10px 0;
}
header img {
  max-width: 300px;
  height: auto;
  padding: 10px 0;
}
header ul {
  list-style: none;
  padding-left: 0;
}
header ul li {
  display: inline-block;
  text-transform: uppercase;
}
header ul li:not(:last-child) {
  margin-right: 2em;
}
header .member img {
  padding: 0;
  width: 20px;
}

#header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  transform: translateZ(0);
}

nav {
  background-color: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 3px 3px 0;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  font-size: smaller;
}
nav ul {
  margin: auto;
  line-height: 1;
  list-style: none;
  padding: 0;
}
nav ul li {
  text-transform: uppercase;
}
nav ul#nav__main li {
  display: inline-block;
  position: relative;
}
nav ul#nav__main li:not(:last-child) {
  margin-right: 2em;
}
nav ul#nav__main ul.dropdown {
  padding-top: 1em;
  min-width: 100%;
  width: 100%;
  background: #ffffff;
  display: none;
  z-index: 999;
}
nav ul#nav__main:hover #for-him:hover ul.dropdown__him {
  display: block;
  background-clip: padding-box;
}
nav ul#nav__main ul.dropdown li {
  display: block;
}

.index__header {
  padding-top: 2em;
}

.splash {
  background: url("../img/index/splash.jpg") center no-repeat;
  height: 500px;
  width: 100%;
}

.categories__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  margin: auto;
}

.featured__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  margin: auto;
}

.user__title {
  padding-top: 3em;
}

.form__user {
  width: 70%;
  margin: auto;
}
.form__user input {
  border-color: #333333;
}
.form__user .user__field-name {
  vertical-align: top;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}
.form__user .user__input-field {
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  padding-inline-start: 10px;
  height: 40px;
}
.form__user textarea.user__input-field {
  height: 200px;
}
.form__user .error {
  color: #ff0000;
  font-size: 70%;
}

.listings .listings__title {
  padding-top: 2em;
}
.listings__menu {
  height: 100%;
  width: 200px;
  position: fixed;
}
.listings__menu ul {
  list-style: none;
  padding-left: 0;
}
.listings__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  margin: auto;
}

.product__gallery {
  width: 600px;
  position: fixed;
}
.product__main {
  margin-left: 624px;
}
.product__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  margin: auto;
}
.career .career__listings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}
.career .job__opening {
  padding: 2em;
}
.career a.job--apply {
  text-decoration: none;
  color: #000;
}

.contact .contact__title {
  padding-top: 3em;
}
.contact .form__contact {
  width: 70%;
  margin: auto;
}
.contact .form__contact input {
  border-color: #333333;
}
.contact .form__contact .contact__field-name {
  vertical-align: top;
  padding-top: 1.5em;
}
.contact .form__contact .contact__input-field {
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 40px;
}
.contact .form__contact textarea.contact__input-field {
  height: 200px;
}
.contact .form__contact .error {
  color: #ff0000;
  font-size: 70%;
}

.form__payment {
  width: 70%;
  margin: auto;
}
.form__payment .payment__title {
  padding-top: 3em;
}
.form__payment .payment__item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 24px;
  margin: auto;
  padding: 10px;
}
.form__payment .payment__field-name span {
  display: inline-flex;
  align-items: center;
}
.form__payment input {
  border-radius: 10px;
  width: 100%;
  height: 40px;
  padding-inline: 10px;
}
.form__payment input#payment__input-validity-mm, .form__payment input#payment__input-validity-yy, .form__payment input#payment__input-cvv, .form__payment input#payment__input-city, .form__payment input#payment__input-postal {
  width: 40%;
}

footer {
  background-color: #343434;
  color: #afafaf;
  width: 100%;
  margin-top: 3em;
  padding: 2em 0;
}
footer .footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer .link__col .col__header {
  font-weight: 700;
  text-transform: uppercase;
}
footer .link__col .col__link {
  font-size: small;
  text-transform: capitalize;
}
footer .link__col ul.col__social li {
  display: inline-block;
  margin-right: 24px;
}
footer .social__icon {
  width: 20px;
  height: auto;
}
footer .copyright {
  margin-top: 3em;
}

/*# sourceMappingURL=style.css.map */
