//============================================================================//
// BUTTONS
//============================================================================//

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

button {
    width: 200px;
    height: 40px;
    margin-top: 1.5em;
    background-color: #ffa07a;
    border: 0;
    text-transform: uppercase;
}
