//============================================================================//
// BUTTONS
//============================================================================//

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

button {
    border-radius: 10px;
    width: 200px;
    height: 40px;
    margin-top: 1.5em;
    background-color: #ffa07a;
    border: 0;
    text-transform: uppercase;

    &.qty__selector {
        border-radius: 5px;
        width: 30px;
        height: 20px;
        background-color: #aff089;
    }
}
