//============================================================================//
// LINKS
//============================================================================//

a {
    text-decoration: none;
}

header, nav {
    $link-colour: #000000;

    a:link {
        color: $link-colour;
    }

    a:visited {
        color: $link-colour;
    }

    a:hover {
        font-weight: 700;
        color: $link-colour;
    }

    a:active {
        font-weight: 700;
        color: $link-colour;
    }
}

footer {
    $link-colour: #afafaf;

    a:link {
        color: $link-colour;
    }

    a:visited {
        color: $link-colour;
    }

    a:hover {
        font-weight: 700;
        color: #ffffff;
    }

    a:active {
        font-weight: 700;
        color: #ffffff;
    }
}

ul {
	&.style--none {
		list-style: none;
		padding-left: 0;
	}

	&.style--horizontal li {
		display: inline-block;
	}
}
