//============================================================================//
// LINKS
//============================================================================//

a {
    text-decoration: none;
}

nav {
    $link-colour: #000000;

    a {
        color: $link-colour;
    }

    a:hover {
        color: $link-colour;
    }

    a:active {
        color: $link-colour;
    }

    a:visited {
        color: $link-colour;
    }
}

footer {
    $link-colour: #afafaf;

    a {
        color: $link-colour;
    }

    a:hover {
        color: $link-colour;
    }

    a:active {
        color: $link-colour;
    }

    a:visited {
        color: $link-colour;
    }
}

ul {
	&.style--none {
		list-style: none;
		padding-left: 0;
	}

	&.style--horizontal li {
		display: inline-block;
	}
}
