//============================================================================//
// GRID
//============================================================================//

@use '../snippets/clearfix';

.grid {
	display: grid;
	grid-gap: $gutter;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -$gutter / 2;
	margin-left: -$gutter / 2;
}

@for $width from 1 through $columns {
	.col-#{$width} {
		position: relative;
		flex-basis: $width / $columns * 100%;
		max-width: $width / $columns * 100%;
		padding-right: $gutter / 2;
		padding-left: $gutter / 2;
	}
}

[class*='col-'] {
	background-color: #FFDCDC; // todo: remove after testing
	float: left;
	min-height: 1px;
}

[class*='col-'] > p {
	background-color: #FFC2C2; // todo: remove after testing
	padding: 0;
	margin: 0;
	// text-align: center;
	// color: white;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;

	> .col,
	> [class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}
