//============================================================================//
// NORMALISE
//============================================================================//

* {
    box-sizing: border-box;
}

body, header, main, footer {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: $line-height-base;
    color: $body-color;
    text-align: left;
    background-color: $body-bg;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: $headings-margin-bottom;
}

img {
    vertical-align: middle;
    border-style: none;
}
