//============================================================================//
// WRAPPER
//============================================================================//

.wrapper {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	width: $wrapper-width;
	margin: auto;
}

.container {
	width: $wrapper-width - $gutter;
	padding-right: $gutter / 2;
	padding-left: $gutter / 2;
	margin-left: auto;
	margin-right: auto;
}
