//============================================================================//
// BANNER
//============================================================================//

.splash {

    background-size: contain;
    width: 100%;

    &.index {
        background: url('../img/banners/new.png') center top no-repeat;
        height: 380px;
    }

    &.male {
        background: url('../img/banners/male.png') center top no-repeat;
        height: 380px;
    }

    &.female {
        background: url('../img/banners/female.png') center top no-repeat;
        height: 380px;
    }

    &.featured {
        background: url('../img/banners/featured.PNG') center top no-repeat;
        background-size: contain;
        height: 380px;
    }

    &.new {
        background: url('../img/banners/new.png') center top no-repeat;
        height: 380px;
    }

    &.career {
        background: url('../img/banners/career.PNG') center top no-repeat;
        height: 380px;
    }

    &.contact {
        background: url('../img/banners/contact.PNG') center top no-repeat;
        height: 380px;
    }

    &.member {
        background: url('../img/banners/member.PNG') center top no-repeat;
        background-size: contain;
        height: 320px;
    }

}
