//============================================================================//
// CART
//============================================================================//

.cart {

    .cart__title {
        padding-top: 2em;
    }

    .cart__images {
        max-width: 200px;
        width: 20%;
    }

    th, td {
        padding: $gutter / 2;
    }

    .bin {
        width: 24px;
        height: auto;
    }
}
