//============================================================================//
// FEATURED
//============================================================================//

.featured__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: $gutter;
	margin: auto;
}
