//============================================================================//
// COMMON
//============================================================================//

.index__header {
    padding-top: 2em;
}


//============================================================================//
// CATEGORIES
//============================================================================//

.categories__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $gutter;
    margin: auto;
}


//============================================================================//
// FEATURED
//============================================================================//

.featured__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $gutter;
    margin: auto;
}
