//============================================================================//
// COMMON
//============================================================================//

.index__header {
    padding-top: 2em;
}


//============================================================================//
// SPLASH
//============================================================================//

// TODO: redefine for all page headers
.splash {
    background: url('../img/index/splash.jpg') center no-repeat;
    height: 500px;
    width: 100%;
}


//============================================================================//
// CATEGORIES
//============================================================================//

.categories__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $gutter;
    margin: auto;
}


//============================================================================//
// FEATURED
//============================================================================//

.featured__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $gutter;
    margin: auto;
}
