//============================================================================//
// LISTINGS
//============================================================================//

.listings {
	&__menu {
		height: 100%;
		width: $side-nav-width;
		position: fixed;

		ul {
			list-style: none;
			padding-left: 0;
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: $gutter;
		margin: auto;
	}
}
