//============================================================================//
// CATEGORIES
//============================================================================//

.categories {


	.category__left {
		width: 40%;
		float: left;
	}

	.category__right {
		width: 40%;
		float: right;
	}
}
