//============================================================================//
// FOOTER
//============================================================================//

footer {

	// General footer styles
	background-color: #343434;
	color: #afafaf;

	hr {
		width: 90%;
		margin: auto;
		color: #afafaf;
	}

	// Links
	ul {
		list-style: none;
		padding-left: 0;
	}

	.links {

	}

	// Social media icons
	.social {

	}

}
