<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Project</title>
</head>

<body>
	<header>
		<h1>My shoe shop</h1>
	</header>

	<nav>
		<b>
			<a href="index.html">Home</a>
			<a href="services.html">Serices</a>
			<a href="contact.html">Contact</a>
		</b>
	</nav>

	<div>
		<h2>New Media and Web Design</h2>
		<p>Trillium Media Design will bring pain to your fingers and wrists
			because this chunk of text has no main purpose besides filling up
			space. I prefer lorem ipsum generator.</p>

		<h2>Meeting Your GPA Needs</h2>
		<p>Our expert prof are here to help you cruise through the course and
			get A+! Terms & Conditions apply.</p>
	</div>

	<footer>
		<small><i>Copyright &copy; 2020 Zhu Zihao</i></small>
	</footer>
</body>

</html>
